body{
  background-color: #000;
  text-align: center;
  }
.contactanos{
  background-image: url(https://cdn.dribbble.com/users/39185/screenshots/3374078/planet_1x.jpg);
  background-size: 100%;
  padding-left: 8.333%;
  padding-right: 8.333%;
}
.contacto{
  margin-top: 2%;
}
.botonContacto{
  width: 50%;
  margin-top: 7%;
}
