body {
    background-image: url("../img/degradado.jpg");
    text-align: center;
}

#inicio {
  background-image: url("../img/bienvenida.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: inherit;
}

#videoInicio {
  margin-top: 29.9%;
  max-height: 300px;
}


.contactanos{
  background-color: whitesmoke;
  padding-left: 8.333%;
  padding-right: 8.333%;
}
.contacto{
  margin-top: 2%;
}
.botonContacto{
  width: 50%;
  margin-top: 7%;
}