.catalogo{
	background-color: black;
	width: 90%;
}

.catalogo h1{
	color: white;
	text-align: center;
}

.catalogo img{
	height: 200px;
	margin: 10px;
	padding-left: 9%;
}

.color a{
	display: none;
}

.color:hover{
	background-color: purple;
	color: white;
	border-radius: 50%;
	border:none;
	text-align: center;
}

.color:hover a{
	display: block;
	width: 30%;
	margin-left: 35%;
}